<div class="icon-airplane-left"></div>
<div class="icon-airplane-left-move"></div>
<div class="icon-airplane-right"></div>
<div class="icon-airplane-right-move"></div>
<div class="icon-arrow-right"></div>
<div class="icon-art-sites"></div>
<div class="icon-canary-pro"></div>
<div class="icon-dot-section"></div>
<div class="icon-plane-on-shield"></div>
<div class="icon-triangle"></div>
<div class="icon-plato"></div>
<div class="icon-keg50"></div>
<div class="icon-keg30"></div>
<div class="icon-ibu"></div>
<div class="icon-can"></div>
<div class="icon-close"></div>
<div class="icon-bottles"></div>
<div class="icon-angle-up"></div>
<div class="icon-angle-down"></div>
<div class="icon-alcohol"></div>
<div class="icon-resume"></div>
<div class="icon-phone"></div>
<div class="icon-address"></div>
<div class="icon-socials"></div>

<p class="font-anonymousproregular">Content</p>
<p class="font-cuprumbold">Content</p>
<p class="font-cuprumregular">Content</p>
<p class="font-hagincapsmedium">Content</p>
<p class="font-hagridheavy">Content</p>
<p class="font-heroldbold">Content</p>
<p class="fixed-bottom">Content</p>
<p class="fixed-top">Content</p>
<div class=" fixed-menu">
    <div class="header-grid">
        <p class="menu-area active">Content</p>
    </div>
</div>
<div class="big-slider">
    <div class="swiper-notification"></div>
</div>

<div class="swiper-slide swiper-slide-active">
    <div class="clouds"></div>
</div>
<div class="title-decor text-center">
    <h3 class="text-uppercase fs-36 font-hagincapsmedium">Постоянно расширяем ассортимент нашей пивоварни</h3>
</div>
<div class="title-decor text-right">
    <h3 class="text-uppercase fs-36 font-hagincapsmedium">Постоянно расширяем ассортимент нашей пивоварни</h3>
</div>
<div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
<div class="faq-grid">
    <div class="active faq-item">
        <div class="answer "></div>
        <i></i>
    </div>

</div>
<div class="form-group field-area-1">
    <input type="text" name="name" class="input-field" tabindex="0">
    <label class="input-label full"><i class="icon-dot-section"></i><span class="ps-10">Ваше имя</span></label>
    <small class="fs-16 font-cuprumbolditalic input-error error_name text-red"></small>
</div>
<div class="fancybox__backdrop"></div>
<div class="carousel__button"></div>
<div class="fancybox__counter"></div>
<div class="fancybox__caption"></div>
<div class="fancybox__content">
    <div class="carousel__button is-close"><svg></svg></div>
</div>
<div class="fancybox__carousel">
    <div class="fancybox__slide has-pdf">
        <div class="fancybox__content"></div>
    </div>
</div>
<div class="header-grid footer-grid">
    <div class="menu-area active"></div>
    <div class="logo-area">
        <svg></svg>
    </div>
    <div class="link-area">
        <svg></svg>
    </div>
</div>
<div class="header-grid">
    <div class="nav-item in_footer"></div>
</div>
<div class="pagination">
    <div class="page-item active">
        <div class="page-link"></div>
    </div>
</div>

<div id="pdopage">
    <div class="content-area">
        <div class="product-preview"></div>
    </div>
</div>