.tcf-grid{
  padding: 1px;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  .content-area{
    padding: 0;
    gap:0;
    row-gap: 1px;
    .product-preview{
      border-right: none;
    }
  }
  .content-area__four{
    margin-right: -1px;
    grid-template-columns: repeat(auto-fit, minmax($px-10*30, 1fr))
  }
  .category-content{
    .product-preview{
      border-right: 1px solid $border-color;
    }
  }
  .footer-area{
    margin-top: -2px;
    border-top: 1px solid $border-color;
  }
}

@media (min-width:$sm){
  .tcf-grid{
    .content-area{
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      .product-preview{
        border-right: 1px solid $border-color;
      }
      .product-preview:nth-child(2n){
        border-right: none;
      }
    }
    .content-area__four{
      grid-template-columns: repeat(auto-fit, minmax($px-10*40, 1fr));

      .product-preview:nth-child(2n){
        border-right: 1px solid $border-color;
      }
    }
    .category-content{
      .product-preview:nth-child(2n){
        border-right: 1px solid $border-color;
      }
    }
  }
}
@media (min-width:$lg){
  .tcf-grid{
    .content-area{
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
      .product-preview:nth-child(2n){
        border-right: 1px solid $border-color;
      }
      .product-preview:nth-child(3n){
        border-right: none;
      }
    }
    .content-area__four{
      grid-template-columns: repeat(auto-fit, minmax($px-10*38, 1fr));
      .product-preview:nth-child(3n){
        border-right: 1px solid $border-color;
      }
    }
    .category-content{
      .product-preview:nth-child(3n){
        border-right: 1px solid $border-color;
      }
    }
  }
}