.vacancy-form-grid {
  padding: 1px;
  grid-template-areas:
      "H"
      "F1"
      "F2"
      "F3"
      "F5"
      "F4"
      "B";
  @for $i from 1 through 5 {
    .field-area-#{$i} {
      grid-area: F#{$i};
    }
  }
  .btn-area{
    grid-area: B;
  }
}
@media (min-width: $sm) {
  .vacancy-form-grid {
    .file-label{
      border-left: 1px solid $border-color;
    }
  }
}
@media (min-width: $md) {
  .vacancy-form-grid {
    grid-template-areas:
      "H H"
      "F1 F4"
      "F2 F4"
      "F3 F4"
      "F5 B";
  }
}