@each $name, $value in $colors{
  .text-#{$name}{
    color: $value;
    transition: all $fast;
  }
}

@each $name, $value in $lights{
  .bg-#{$name}{
    transition: all $fast;
    background-color: $value;
    color: $dark;
  }
}

@each $name, $value in $darks{
  .bg-#{$name}{
    transition: all $fast;
    background-color: $value;
    color: $gray-light;
  }
}

.bg-gold-gradient{
  background-image: linear-gradient(90deg,
  #C7992D,
  #B57E10,
  #B57E10,
  #F8DF7B,
  #FFF2A6,
  #F8DF7B,
  #B57E10,
  #CDA035,
  #CDA035
  );
}

.bg-gold-gradient-2{
  background-image: linear-gradient(90deg,
  #F9BE00,
  #FDDD2E,
  #FDDD2E,
  #F69405);
}