.interactive-block,
*[class*="bg-"]:not(.interactive-block),
.product-preview,
.title-decor > *,
.title-decor:before,
.title-decor:after,
.gray-img,
.hover-color-gold,
.sand-on-hover,
.orange-on-hover,
.hover-color-sand{
  transition: all $fast;
}
.gray-img{
  filter:grayscale(100%);
}
.text-block{
  a{
    font-family: 'Cuprum Bold Italic';
    text-decoration: underline;
    color: $black;
    transition: all $fast;
  }
  a:hover{
    text-decoration: none;
    color: $dark;
  }
}
.interactive-block:hover{
  background-color: $white;
  color:$black;
  .title-decor:not(.title-decor__under):not(.title-decor__top-bottom){
    *{
      background-color: $white;
    }
  }
  .gray-img{
    filter:grayscale(0);
  }
}

.footer-grid{
  .interactive-block:hover{
    background-color: $black;
    color:$white;
    .title-decor:not(.title-decor__under):not(.title-decor__top-bottom){
      *{
        background-color: $black;
      }
    }
  }
}
.bg-sand-on-hover{
  color: $dark;
  .title-decor__under {
    &:before, &:after {
      transition: all $fast;
      opacity: 0;
    }
  }

  .specifications, .link {
    transition: all $fast;
    opacity: 0;
  }
  &:hover {
    color: $black;

    .title-decor__under {
      &:before, &:after {
        opacity: 1;
      }
    }

    background-color: $sand !important;

    .specifications, .link {
      opacity: 1;
    }
  }
}

@each $name, $value in $darks{
  .bg-#{$name}{
    .text-block{
      a{
        font-family: 'Cuprum Bold Italic';
        text-decoration: underline;
        color: $white;
      }
      a:hover{
        text-decoration: none;
        color: $gray-light;
      }
    }
  }
  .bg-#{$name}.interactive-block:hover{
    background-color: $black;
    color:$white;
    .hr{
      background-color: $white;
    }
    .text-block{
      a{
        color: $white;
      }
      a:hover{
        color: $gray-light;
      }
    }

    .title-decor{
      &:before, &:after{
        background-color: $white;
      }
    }
    .title-decor:not(.title-decor__under):not(.title-decor__top-bottom){
      *{
        background-color: $black;
      }
    }
  }
}

@each $name, $value in $lights{
  .bg-#{$name}.interactive-block:hover{
    background-color: $white;
    color:$black;
    .hr{
      background-color: $black;
    }
    .text-block{
      a{
        color: $black;
      }
      a:hover{
        color: $dark;
      }
    }
  }
}
.sand-on-hover:hover{
  color: $sand !important;
}
.orange-on-hover:hover{
  color:#fdc404 !important;
}
