@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a6c56y');
  src:  url('../fonts/icomoon.eot?a6c56y#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?a6c56y') format('truetype'),
  url('../fonts/icomoon.woff?a6c56y') format('woff'),
  url('../fonts/icomoon.svg?a6c56y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane-left:before {
  content: "\e900";
}
.icon-airplane-left-move:before {
  content: "\e901";
}
.icon-airplane-right:before {
  content: "\e902";
}
.icon-airplane-right-move:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-art-sites:before {
  content: "\e905";
}
.icon-canary-pro:before {
  content: "\e906";
}
.icon-dot-section:before {
  content: "\e907";
}
.icon-plane-on-shield:before {
  content: "\e908";
}
