.product-preview {
  color: $dark;


  .title-decor__under {
    &:before, &:after {
      transition: all $fast;
      opacity: 0;
    }
  }

  .specifications, .link {
    transition: all $fast;
    opacity: 0;
  }

  .subtitle {
    padding-right: 65%;
  }

  .specifications {
    padding-top: $px-25*2;

    p {
      font-size: $px-10*1.6;
    }

    i {
      font-size: $px-10*5;
    }
  }

  .image {
    margin-bottom: $px-10*2;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .link {
    text-align: center;

    span {
      text-decoration: underline;
    }

    i {
      font-size: $px-10;
    }
  }

  &:hover {
    color: $black;

    .title-decor__under {
      &:before, &:after {
        opacity: 1;
      }
    }

    background-color: $sand !important;

    .specifications, .link {
      opacity: 1;
    }
  }
}

.text-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 1px 0 0 1px;
  //border-right: 1px solid $border-color;
  //border-bottom: 1px solid $border-color;
}

.three-column-grid{
  display: grid;
  gap: 1px;
  background-color: $border-color !important;
  grid-template-columns: 1fr;
  grid-template-areas:
    "I"
    "T"
    "F";
  &>*{
    background-color: $body-bg!important;
  }
}

// media queries
@media (min-width: $sm) {
  .product-preview {
    .subtitle {
      padding-right: 60%;
    }

    .image {
      margin-bottom: $px-10*2;
      margin-top: $px-10*2;
    }
  }
  .three-column-grid{
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "T T T T T T T"
      "I I I F F F F";
  }
}

@media (min-width: $md) {
  .two-column-text, .three-column-text {
    column-count: 2;
    column-gap: $px-10*3;
    text-align: justify;
  }
}

@media (min-width: $lg) {
  .product-preview {
    .subtitle {
      padding-right: 75%;
    }

    .image {
      margin-bottom: $px-10*3;
      margin-top: -($px-10*2);
    }

    .specifications {
      p {
        font-size: $px-10*1.8;
      }

      i {
        font-size: $px-10*5;
      }
    }
  }
  .three-column-text {
    column-count: 3;
    column-gap: $px-10*3;
    text-align: justify;
  }
  .three-column-grid{
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "I I I T T T T T F F F F";
  }
}